@model IEnumerable<PolskieBrowary.Models.BeerGenre>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/Brevery.css" />

<div id="brevery-title">Gatunki piw</div>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" id="create">Dodaj gatunek</a>
    </p>
}
<div>
    @foreach (var item in Model)
    {
        <div class="brevery-details">
            <div class="brevery-name">
                @Html.DisplayFor(modelItem => item.GenreName)
            </div>
            <div class="brevery-description">
                @Html.DisplayFor(modelItem => item.GenreDescription)
            </div>
            <div class="show-beers">
                <a asp-action="BeersInGenre" asp-controller="Beers" asp-route-id="@item.BeerGenreID">Zobacz piwa tego gatunku</a>
            </div>

            <div class="buttons-container">
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <span>|</span>
                    <a asp-action="Edit" asp-route-id="@item.BeerGenreID">Edytuj </a><span>|</span>
                    <a asp-action="Delete" asp-route-id="@item.BeerGenreID">Usuń </a><span>|</span>
                }
            </div>
        </div>
    }
</div>
