@model PolskieBrowary.Models.Beer

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/forms.css" />

<h2 class="title">
    @Html.DisplayFor(model => model.BreveryName)
</h2>

<div>
    <hr />
    <div class="form-box">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.BreveryName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BreveryName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AlcoholContent)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AlcoholContent)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ExtractContent)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ExtractContent)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.BreveryID)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Brevery.BreveryName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.BeerGenreID)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BeerGenre.GenreName)
            </dd>
        </dl>
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <div class="back-link-box">
                <a asp-action="Edit" asp-route-id="@Model.BeerID" class="back-link">Edytuj</a> |
                <a asp-action="Index" class="back-link">Powrót do listy</a>
            </div>
        }
    </div>
</div>


@Html.Partial("/Views/Comments/CommentForm.cshtml", ViewData["comment-form"])
@Html.Partial("/Views/Comments/BeerComments.cshtml", ViewData["comments"])


